<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メールアドレスの確認のお願い</title>
</head>
<body>
    <p>この度ご登録頂きありがとうございます。</p>

    <p>
        メールアドレスの確認のため下記のリンクをクリックしてメールアドレスの確認を完了させてください
    </p>

    <p>
        <strong>メールアドレスの確認</strong><br>
        <a href="{{ regist_user_url }}">{{ regist_user_url }}</a>
    </p>

    <p>
        ※URLの期限は30分です。
    </p>
</body>
</html>